@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom, rgb(65, 72, 179), white 50%, #1b676b 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* header{
    text-align: center;
} */

header>h1 {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: rgba(255, 0, 0, 0.909);
    text-shadow: 2px 2px 0px rgb(251, 255, 252);
    width: 90vw;
    margin:auto;
}

menu{
    color: rgb(54, 4, 164);
    width: 90vw;
    text-align: center;
    padding: 5px;
    margin: 80px
}

menu>ul{
    list-style: none; 
}

menu>ul>li>a{
    display: block;
    color: rgb(225, 222, 234);
    text-decoration: none;
    background-color: rgb(12, 1, 21);
    padding: 5px;
    margin: auto;
    border-radius: 0px 0px 0px 0px;
    text-align: center;
}

menu>ul>li>a:hover{
    background-color: rgb(85, 13, 180);
    border-radius: 5px;
    color: whitesmoke;
    text-decoration: none;
} 

main>p{
    height: max-content;
    width: 90vw;
    text-align: justify;
    padding: 7px 7px 10px 10px;
    margin: auto;
}
 
article {
    width: 90vw;
    color: #bef202;
    margin: auto;
}

p{
    font-size: 20px;
    padding: 1px;
    margin: auto; 
    width: 90vw;
}

img {
    border-radius: 5px;
    border: solid rgb(122, 9, 221);
    margin: 77px;
    gap: 15px;
}

footer{
    width: 90vw;
    margin: auto;
}

footer>p {
    background-color: rgb(133, 3, 232);  
    color: azure;
    text-align: center;
    border-radius: 0px 0px 7px 7px;
    width: 90vw;
    padding: 7px;
    margin: auto;
}